.forgot-password-container {
    margin-top: 100px;
    margin-left: 480px;
    width: 450px;
    height: 450px;
    background-color: white ;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.7);
    border-radius: 10px;
}
.forgot-password-container h2 {
    font-family: 'Poppins';
    top: 30px;
}
form {
    height: 220px;
    margin-top: 50px;
}
 p  {
    font-family: 'Montserrat';
    margin-bottom: -90px;
    margin-top: 10px;
    text-align: center;
    color: black;
}
.btn-submit {
    background-color: #1865cf;
    margin-left: 140px;
    margin-top: 28px;
    color: white;
    width: 150px;
    height: 50px;
    font-family: 'Poppins';
    font-size: 15px;
    border-radius: 5px;
}
.form-group {
    margin-left: 30px;
    margin-top: 70px;
    width: 250px;
    margin-bottom: -60px;
}

.form-group input {
    background-color: transparent;
    color: black;
    border: 2px solid #E7ECEF;
    border-radius: 5px;
    width: 350px;
    height: 40px;
}

.form-group label {
    color: black;
    font-family: 'Poppins';
    font-size: 11px;
}

select #security-question {
    color: black;
}

.form-group ::placeholder {
    font-family: 'Poppins';
    font-size: 12px;
}
#email input {
    background-color: transparent;
    height: 40px;
}
.form-group select {
    height: 40px;
    padding: 10px;
    border-radius: 4px;
    background-color: transparent;
    border: #E7ECEF 2px solid;
    color: black;
    width: 350px;
    font-family: 'Poppins';
    font-size: 11px;
}
.form-group option {
    color: black;
}
.eye-icon-log {
    position: absolute;
    right: 510px;
    top: 69%;
    transform: translateY(-50%);
    cursor: pointer;
    width: 20px; /* Adjust size as needed */
    height: auto;
}
